/**
 * @modified $Author: hhfu $
 * @version $Rev: a7895211bdbc041b5c30fc6bdb3a734a03337730 $
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

body {
	color: #000;
	background: #fff;
	font-size: 12px;
	line-height: 1.25;
	font-family: "\5FAE\8F6F\96C5\9ED1", helvetica, arial, sans-serif
}

th,td {
	text-align: left;
	vertical-align: top
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
	font-weight: 400
}

p {
	margin: 0 0 1em
}

blockquote {
	margin: 0 0 1em
}

a {
	color: #14647d;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

img {
	display: block;
	border: 0
}

li {
	list-style: none
}

ol {
	padding: 0 0 0 2em
}

input,label,select,option,textarea,button,fieldset,legend {
	font-size: 1em;
	font-family: inherit
}

input[type=text],textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline: 0
}

input.text {
	color: #444;
	border-color: #9f9f9f #dcdcdc #dcdcdc #9f9f9f;
	border-style: solid;
	border-width: 1px;
	padding: 3px 2px;
	height: 14px
}

input.radio,input.checkbox {
	margin-right: 2px;
	vertical-align: -2px
}

input.radio,input.checkbox {
	margin-left: -2px
}

label.radio,label.checkbox {
	margin-right: 5px
}

textarea {
	border-color: #9f9f9f #dcdcdc #dcdcdc #9f9f9f;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
	resize: none
}

.fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.fix {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	min-height: 1%
}

* html .fix {
	zoom: 1
}

.fix {
	display: block
}

.clearleft {
	clear: left
}

.pack,.pack img {
	width: 208px
}

.pack .txt {
	padding-top: 7px;
	color: #858e93
}

.pack .caption {
	font-size: 13px
}

.pack .ico,.pack .cnt {
	position: absolute;
	top: 4px;
	right: 4px;
	height: 19px;
	padding: 0 5px;
	background: #F60;
	color: #fff;
	font-style: normal;
	line-height: 19px
}

.pack .pic a {
	position: absolute;
	width: 100%;
	height: 90%;
	z-index: 5;
	left: 0;
	top: 0
}

.pack .bg {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: none;
	opacity: .3;
	filter: alpha(opacity = 30);
	filter: alpha(opacity = 30);
	z-index: 0
}

.pack .pic .quick {
	right: 4px;
	bottom: 4px
}

.pack .vtime {
	position: absolute;
	height: 19px;
	line-height: 19px;
	bottom: 4px;
	right: 4px;
	color: #fff;
	overflow: hidden
}

.pack .vtime .bg,.pack .cnt .bg {
	display: block;
	opacity: .5;
	filter: alpha(opacity = 50);
	filter: alpha(opacity = 5)
}

.pack .di {
	position: relative;
	padding: 0 5px
}

.pack li,.pack .caption {
	height: 20px;
	line-height: 20px;
	overflow: hidden
}

.pack .cnt {
	width: 42px;
	height: 60px;
	background: 0;
	text-align: center
}

.pack .cnt .bg {
	width: 52px;
	height: 60px
}

.pack .cnt .p {
	position: relative;
	top: 12px;
	z-index: 2
}

.pack .cnt b {
	display: block;
	font-size: 21px;
	height: 22px;
	line-height: 22px;
	position: relative;
	z-index: 2;
	font-family: ROCK
}

.pack .cnt .p1 b {
	font-size: 32px;
	height: 25px
}

.pack .cnt .p2 b {
	font-size: 24px;
	height: 22px
}

.pack .thumb {
	position: absolute;
	top: -25px;
	left: -4px;
	height: 25px;
	line-height: 25px; *
	top: -20px;
	z-index: 6
}

.pack .thumb .user {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 100%;
	vertical-align: top; *
	position: relative;
	top: -5px
}

.pack .thumb img {
	margin: 4px;
	width: 32px;
	height: 32px;
	border-radius: 100%
}

.pack a:hover {
	color: #F60;
	text-decoration: none
}

.pack sup {
	vertical-align: middle;
	position: relative;
	top: -5px
}

.pack_hover .pic a {
	background: url(/v3/dist/img/g/ui/pack/play_34c781a.png) 50% 50%
		no-repeat;
	_background-image: url(/v3/dist/img/g/ui/pack/play8_b1c5a11.png)
}

.pack_hover .pic .bg {
	display: block
}

.pack_hover .ico,.pack_hover .cnt {
	display: none
}

.pack_hover .play {
	height: 27px
}

.pack_hover .play a {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	margin-right: 5px;
	height: 27px;
	line-height: 27px;
	padding: 0 10px;
	background: #F60;
	text-indent: 0;
	border-radius: 2px
}

.pack_hover .play .buy {
	background: #37a4e3
}

.pack_hover .st_lt {
	display: none
}

.pack .pic,.pack img {
	height: 116px;
	overflow: hidden
}

.packc,.packc_plist,.packc_plist2 {
	overflow: visible
}

.pack_plist .pic,.packs_plist .pic,.packc_plist .pic,.packs_plist img,.pack_plist img,.packc_plist img
	{
	height: 208px
}

.pack_album .pic,.pack_album img,.pack_albums .pic,.pack_albums img {
	height: 308px
}

.packs_plist a,.packs_plist2 a,.pack_albums a,.pack_albums2 a,.packs a {
	color: #fff
}

.packs .pic .bg,.packs_plist .pic .bg,.packs_plist2 .pic .bg,.pack_albums .pic .bg,.pack_albums2 .pic .bg
	{
	opacity: .65;
	filter: alpha(opacity = 65);
	filter: alpha(opacity = 65)
}

.packs .pic a,.packs:hover .pic a,.packs_plist .pic a,.packs_plist2 .pic a,.pack_albums .pic a,.pack_albums2 .pic a
	{
	background: url(about:blank)
}

.packs .pic .quick_hook,.packs:hover .pic .quick_hook,.packs_plist .pic .quick_hook,.packs_plist2 .pic .quick_hook,.pack_albums .pic .quick_hook,.pack_albums2 .pic .quick_hook
	{
	background: #f60 url(/v3/dist/img/watchlater/global_e7f7012.png)
		no-repeat 0 -86px
}

.pack_plist2 .pic .quick_hook,.packs_plist2 .pic .quick_hook,.packc_plist2 .pic .quick_hook
	{
	bottom: 4px
}

.pack_plist2 .pic .vtime,.packs_plist2 .pic .vtime,.packc_plist2 .pic .vtime
	{
	bottom: 8px
}

.packs .txt,.packs_plist .txt,.packs_plist2 .txt,.pack_albums .txt,.pack_albums2 .txt
	{
	width: 196px;
	position: absolute;
	bottom: 3px;
	margin: 0 8px;
	color: #DEDEDE;
	z-index: 6
}

.packs_plist2 .txt {
	bottom: 7px
}

.packs .txt li,.packs_plist .txt li,.packs_plist2 .txt li,.pack_albums .txt li,.pack_albums2 .txt li
	{
	display: none
}

.packs .txt .sub,.packs_plist .txt .sub,.packs_plist2 .txt .sub,.pack_albums .txt .sub,.pack_albums2 .txt .sub
	{
	display: block
}

.packs a:hover,.packs_plist a:hover,.packs_plist2 a:hover,.pack_albums a:hover,.pack_albums2 a:hover
	{
	color: #fff
}

.packs .pic i.bg,.packs_plist .pic i.bg,.packs_plist2 .pic i.bg,.pack_albums .pic i.bg,.pack_albums2 .pic i.bg
	{
	display: block;
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-filter: none;
	filter: none;
	background: url(http://i3.tdimg.com/b/20140108/co50.png) 0 bottom
		repeat-x;
	_background: 0;
	_filter: progid : DXImageTransform . Microsoft .
		AlphaImageLoader(src = 'http://i3.tdimg.com/b/20140108/co50.png')
}

.packs .pic .cnt i.bg,.packs_plist .pic .cnt i.bg,.packs_plist2 .pic .cnt i.bg
	{
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
	filter: alpha(opacity = 50)
}

.pack_hover .txt {
	top: -3px;
	height: 100%;
	_top: -1px
}

.pack_hover .txt li {
	display: block
}

.pack_hover .txt .play {
	position: absolute;
	left: 0;
	top: 84px
}

.pack_hover .v2p .bg {
	height: 116px
}

.pack_hover .v2t {
	top: auto;
	bottom: 0;
	height: 113px
}

.pack_hover .v2t .play {
	top: 89px
}

.pack_hover .vtime {
	display: none
}

.pack_hover .pic i.bg {
	background: #000;
	opacity: .2;
	filter: alpha(opacity = 20);
	filter: alpha(opacity = 20)
}

.packs_hover {
	cursor: pointer
}

.packs_hover .txt {
	color: #afafaf
}

.packs_hover .txt .info li {
	height: 18px;
	line-height: 18px
}

.packs_hover .txt .info .play {
	height: 27px
}

.packs_hover .pic i.bg {
	background: #000;
	opacity: .7;
	filter: alpha(opacity = 70);
	filter: alpha(opacity = 70)
}

.g_vip1,.g_vip2,.g_vip3,.g_vip4 {
	padding: 0 2px;
	background: 0;
	font-size: 14px;
	color: #1081d8 !important;
	vertical-align: baseline
}

.pack .g_vip1:hover {
	color: #1081d8 !important
}

.g_vip2,.pack .g_vip2:hover {
	color: #ff9700 !important
}

.g_vip3,.pack .g_vip3:hover {
	color: #54a200 !important
}

.g_vip4,.pack .g_vip4:hover {
	color: #ff820a !important
}

.pack .packad {
	position: absolute;
	right: 20px;
	bottom: 4px;
	width: 80px;
	height: 24px;
	display: none
}

.pack .packad a {
	background: 0
}

.pack .packad img {
	width: 80px;
	height: 24px
}

.pack_hover .packad {
	display: block;
	z-index: 5
}

.pack_focus .cnt {
	position: absolute;
	top: 4px;
	right: 4px;
	padding: 0 5px;
	color: #fff;
	font-style: normal;
	line-height: 19px;
	background: 0;
	text-align: center
}

.pack_focus .cnt .p {
	position: relative;
	z-index: 2
}

.pack_focus .cnt b {
	display: block;
	font-size: 21px;
	height: 22px;
	line-height: 22px;
	position: relative;
	z-index: 2;
	font-family: ROCK
}

.pack_focus .cnt .bg {
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
	filter: alpha(opacity = 50)
}

.pack_focus .pic .st_rt,.pack .pic .st_rt {
	width: 32px;
	height: 46px
}

.pack_focus .pic .st_rt .p,.pack .pic .st_rt .p {
	top: 4px
}

.pack_focus .pic .st_rt .p b,.pack .pic .st_rt .p b {
	height: 23px
}

.pack_focus .pic .st_rt .p .zb,.pack .pic .st_rt .p .zb {
	color: #ed0324;
	font-size: 28px
}

.pack_focus .pic .st_rt .p .iconfont,.pack .pic .st_rt .p .iconfont {
	font-family: tuiicon
}

.pack_focus .pic .st_rt .bg,.pack .pic .st_rt .bg {
	width: 40px;
	height: 44px;
	border: 1px solid #FFF;
	border-radius: 2px
}

.play_tip_box {
	height: 40px;
	position: fixed;
	bottom: 0;
	_bottom: 40px;
	z-index: 10001;
	left: 0;
	width: 100%;
	display: none;
	overflow: hidden
}

.play_tip_box .bg {
	width: 100%;
	height: 40px;
	position: absolute;
	z-index: -1;
	background: #000;
	opacity: .8;
	filter: alpha(opacity = 80);
	filter: alpha(opacity = 80)
}

.play_tip_box .play_tip {
	color: #AFAFAF;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -500px;
	width: 1000px;
	text-align: center;
	padding: 5px;
	height: 28px;
	line-height: 28px; *
	line-height: 30px
}

.play_tip_box .play_tip .zp_link {
	color: #74B2E1;
	margin-left: 30px
}

.play_tip_box .play_tip .zp_link_dis {
	color: #818181;
	margin-left: 30px
}

.play_tip_box i {
	color: #ECECEC;
	font-style: normal
}

.play_tip_box .btn_close {
	position: relative;
	display: inline-block; *
	display: inline; *
	zoom: 1;
	top: 4px;
	left: 50px
}

.play_tip_box .btn_stop,.play_tip_box .btn_play {
	background: #000 url(../../img/play/icon_f69d087.png) no-repeat -125px
		-78px;
	display: inline-block; *
	display: inline; *
	zoom: 1;
	margin-left: 20px;
	opacity: .6;
	filter: alpha(opacity = 60);
	filter: alpha(opacity = 60);
	outline: 0;
	border-radius: 100%;
	width: 28px;
	height: 28px;
	vertical-align: middle
}

.play_tip_box .btn_play {
	background-position: -152px -78px
}

.play_tip_box .btn_stop:hover,.play_tip_box .btn_play:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	filter: alpha(opacity = 100)
}

.ntc {
	position: absolute;
	top: 200px;
	left: 50%;
	z-index: 100;
	margin-left: -365px;
	width: 490px;
	padding-top: 100px;
	background: url(../../img/play/no-js_b49ba8d.png) 210px 0 no-repeat;
	font-size: 16px;
	color: #AFAFAF;
	line-height: 1.8
}

.ntc a {
	color: #f80;
	text-decoration: underline
}

.ntc a:hover {
	color: #F60;
	text-decoration: none
}

.pack {
	position: relative
}

.pack .vtime {
	z-index: 7
}

.pack .vtime i.bg {
	z-index: -1
}

.pack_hover {
	background: #e4e6eb
}

.pack_hover .vtime {
	display: block
}

.pack_hover .vtime i.bg {
	opacity: .5;
	filter: alpha(opacity = 50);
	filter: alpha(opacity = 50)
}

.relative,.promotion,.ugc_rec {
	overflow: hidden;
	width: 100%
}

.relative ul,.promotion ul,.ugc_rec ul {
	background: #fff
}

.relative .loading,.promotion .loading,.ugc_rec .loading {
	margin: 40px 0;
	text-align: center;
	display: block
}

.relative .pack,.promotion .pack,.ugc_rec .pack {
	height: 112px;
	padding: 15px 16px;
	width: auto;
	border-bottom: 1px solid #fff
}

.relative .pack:hover,.promotion .pack:hover,.ugc_rec .pack:hover {
	background: #eee
}

.relative .pack .pic,.promotion .pack .pic,.ugc_rec .pack .pic {
	position: absolute;
	left: 15px;
	top: 15px;
	width: 200px;
	height: 112px;
	overflow: hidden
}

.relative .pack .pic img,.promotion .pack .pic img,.ugc_rec .pack .pic img
	{
	width: 200px;
	position: relative;
	height: 112px
}

.relative .pack .txt,.promotion .pack .txt,.ugc_rec .pack .txt {
	float: right;
	width: 65%;
	padding-top: 0
}

.relative .pack .txt p,.promotion .pack .txt p,.ugc_rec .pack .txt p {
	margin: 5px 0 0;
	color: #afafaf
}

.relative .pack .txt .owner,.promotion .pack .txt .owner,.ugc_rec .pack .txt .owner
	{
	line-height: 16px;
	height: 16px;
	overflow: hidden
}

.relative .pack .txt .owner .iconfont,.promotion .pack .txt .owner .iconfont,.ugc_rec .pack .txt .owner .iconfont
	{
	font-size: 16px;
	color: #AFAFAF;
	display: inline-block; *
	display: inline; *
	zoom: 1;
	margin-right: 5px;
	vertical-align: middle
}

.relative .pack .txt .owner a,.promotion .pack .txt .owner a,.ugc_rec .pack .txt .owner a
	{
	color: #afafaf;
	word-wrap: break-word;
	word-break: break-all
}

.relative .pack .txt .owner a:hover,.promotion .pack .txt .owner a:hover,.ugc_rec .pack .txt .owner a:hover
	{
	color: #f60;
	text-decoration: none
}

.relative .pack .txt .playtimes a,.promotion .pack .txt .playtimes a,.ugc_rec .pack .txt .playtimes a
	{
	color: #afafaf
}

.relative .pack .caption,.promotion .pack .caption,.ugc_rec .pack .caption
	{
	height: auto;
	_height: 36px;
	line-height: 18px;
	max-height: 36px;
}

.relative .pack .caption a,.promotion .pack .caption a,.ugc_rec .pack .caption a
	{
	font-size: 14px;
	color: #606060
}

.relative .pack .caption a:hover,.promotion .pack .caption a:hover,.ugc_rec .pack .caption a:hover
	{
	color: #f60;
	text-decoration: none
}

.relative .pack .pc,.promotion .pack .pc,.ugc_rec .pack .pc {
	position: absolute;
	right: 4px;
	top: 4px;
	z-index: 7;
	background-color: #ff4762;
	color: #fff;
	padding: 0 3px;
	line-height: 1.5
}

.relative .pack_lf .title_lf,.promotion .pack_lf .title_lf,.ugc_rec .pack_lf .title_lf
	{
	display: inline-block; *
	display: inline; *
	zoom: 1;
	font-size: 12px;
	vertical-align: baseline;
	margin-right: 4px;
	background: #bababa;
	border-radius: 3px;
	padding: 2px;
	color: #fff
}

.relative .pack_lf .ico_lf,.promotion .pack_lf .ico_lf,.ugc_rec .pack_lf .ico_lf
	{
	position: absolute;
	top: 4px;
	right: 4px;
	width: 36px;
	height: 40px
}

.relative .pack_lf .ico_lf .ico_round,.promotion .pack_lf .ico_lf .ico_round,.ugc_rec .pack_lf .ico_lf .ico_round
	{
	position: relative;
	display: block;
	margin: 8px auto 4px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #ed0124
}

.relative .pack_lf .ico_lf .ico_mask,.promotion .pack_lf .ico_lf .ico_mask,.ugc_rec .pack_lf .ico_lf .ico_mask
	{
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	width: 34px;
	height: 38px;
	border: 1px solid #fff;
	opacity: .5;
	filter: alpha(opacity = 50);
	filter: alpha(opacity = 50)
}

.relative .pack_lf .ico_lf .ico_lf_title,.promotion .pack_lf .ico_lf .ico_lf_title,.ugc_rec .pack_lf .ico_lf .ico_lf_title
	{
	position: relative;
	display: block;
	text-align: center;
	color: #fff
}

.relative .pc-itudou,.promotion .pc-itudou,.ugc_rec .pc-itudou {
	position: relative;
	z-index: 99
}

.relative .itudou,.promotion .itudou,.ugc_rec .itudou {
	display: none;
	position: absolute;
	bottom: 5px;
	left: 1px;
	z-index: 9;
	width: 300px;
	background: #fff;
	box-shadow: 0 -1px 8px rgba(0, 0, 0, .3)
}

.relative .itudou p,.promotion .itudou p,.ugc_rec .itudou p {
	padding: 10px 15px;
	margin-bottom: 0
}

.relative .itudou a,.promotion .itudou a,.ugc_rec .itudou a {
	color: #f60
}

.relative .itudou .dw,.promotion .itudou .dw,.ugc_rec .itudou .dw {
	position: absolute;
	right: 15px;
	top: 15px;
	padding: 0 5px;
	line-height: 2;
	background-color: #f60;
	color: #fff;
	border-radius: 2px
}

.relative .caret,.promotion .caret,.ugc_rec .caret {
	border-color: #eee transparent transparent;
	border-style: solid dashed dashed;
	border-width: 6px 6px 0;
	width: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	left: 180px;
	bottom: -6px;
	z-index: 1
}

.relative .caret i,.promotion .caret i,.ugc_rec .caret i {
	border-color: #FFF transparent transparent;
	left: -6px;
	bottom: 1px
}

.itudou_hover .itudou {
	display: block
}

.ugc_rec h4 {
	margin-bottom: 6px
}

.packs_plist {
	float: left;
	_display: inline;
	position: relative;
	width: 160px;
	height: 160px;
	margin-right: 16px
}

.packs_plist .pic,.packs_plist img {
	width: 160px;
	height: 160px
}

.packs_plist .txt {
	width: 144px
}

.packs_plist .play .favor {
	background-color: #75b957
}

.packs_plist .play .favored {
	background-color: #c7ced2
}

.carousel_wrap {
	position: relative;
	overflow: hidden;
	width: 100%
}

.carousel_wrap .scroll_width {
	width: 100000px;
	overflow: hidden
}

.carousel_wrap .pack {
	float: left;
	_display: inline
}

.carousel_wrap .pack .cnt {
	font-size: 28px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0
}

.carousel_wrap .pack .cnt .p {
	position: relative;
	top: 0;
	left: 0
}

.carousel_wrap .pack .cnt .bg {
	height: 100%;
	width: 100%
}

.carousel_wrap .pack .cnt2 {
	font-size: 20px
}

.carousel_wrap .pack_last {
	margin-right: 0;
	height: 160px;
	width: 160px;
	background-color: #f0f2f7;
	text-align: center;
	overflow: hidden
}

.carousel_wrap .pack_last a {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

.carousel_wrap .pack_last i {
	display: block;
	width: 100px;
	height: 124px;
	margin: 75px auto;
	background: #f0f2f7 url(../../img/play/icon2_eac3e0d.png) 0 -278px
		no-repeat
}

.con_main .carousel_wrap {
	width: 100%;
	overflow: hidden
}

.con_main .carousel_wrap .disabled {
	display: none
}

.con_main .scrollbar_prev,.con_main .scrollbar_next {
	width: 29px;
	height: 57px;
	background: url(../../img/play/icon2_eac3e0d.png) -39px -115px no-repeat
		;
	position: absolute;
	left: 0;
	top: 91px;
	z-index: 10
}

.con_main .scrollbar_next {
	left: auto;
	right: 0;
	background-position: 0 -115px
}

.con_main .scrollbar_prev:hover {
	background-position: -39px -181px
}

.con_main .scrollbar_next:hover {
	background-position: 0 -181px
}

.infopl,.rel_pl {
	margin: 35px auto;
	overflow: hidden;
	position: relative;
	z-index: 1
}

.infopl h4,.rel_pl h4 {
	font-size: 18px;
	color: #303c48;
	margin-bottom: 16px;
	border-bottom: 1px solid #e6eaec;
	height: 32px
}

.infopl h4 a,.rel_pl h4 a {
	color: #303c48;
	display: inline-block; *
	display: inline; *
	zoom: 1;
	height: 20px;
	margin-right: 40px;
	padding-bottom: 10px
}

.infopl h4 a:hover,.rel_pl h4 a:hover {
	color: #f60;
	text-decoration: none
}

.infopl h4 .current,.rel_pl h4 .current {
	color: #f60;
	border-bottom: 3px solid #f60
}

.infopl .v2t .sub,.rel_pl .v2t .sub {
	display: none
}

.infopl .scrollbar_prev,.rel_pl .scrollbar_prev,.infopl .scrollbar_next,.rel_pl .scrollbar_next
	{
	top: 100px
}

.infopl .loading,.rel_pl .loading {
	height: 150px;
	margin: 0 auto;
	background: url(../../img/play/loading-gray_6164749.gif) no-repeat
		center 45px
}

.infopl .tab_box,.rel_pl .tab_box {
	position: relative
}

.infopl .tab_box .scrollbar_next,.rel_pl .tab_box .scrollbar_next,.infopl .tab_box .scrollbar_prev,.rel_pl .tab_box .scrollbar_prev
	{
	top: 50px
}

.infopl .empty,.rel_pl .empty {
	text-align: center;
	line-height: 100px
}

.infopl .pack_lt,.rel_pl .pack_lt {
	display: none
}

.infopl .pack_lt .scrollbar_next,.rel_pl .pack_lt .scrollbar_next,.infopl .pack_lt .scrollbar_prev,.rel_pl .pack_lt .scrollbar_prev
	{
	top: 15px
}

.infopl .disabled,.rel_pl .disabled {
	display: none
}

.infopl .pack_last a,.rel_pl .pack_last a {
	height: 110px;
	padding-top: 60px;
	line-height: 1.5;
	font-size: 14px;
	color: #858e93
}

.infopl .packs_hover .v2t,.rel_pl .packs_hover .v2t {
	height: 100px
}

.infopl .packs_hover .v2t .sub,.rel_pl .packs_hover .v2t .sub {
	display: block
}

.infopl .packs_hover .v2p .bg,.rel_pl .packs_hover .v2p .bg {
	height: 106px
}

.infopl .request_error,.rel_pl .request_error {
	text-align: center;
	line-height: 100px
}

.infopl .request_error .btn,.rel_pl .request_error .btn {
	background: #f60;
	color: #fff;
	padding: 1px 5px;
	border-radius: 2px
}

.infopl .packs_hover .txt .info li,.rel_pl .packs_hover .txt .info li {
	height: 20px;
	line-height: 20px
}

.infopl .packs_hover .txt .info .play,.rel_pl .packs_hover .txt .info .play
	{
	height: 25px;
	top: 72px
}

.infopl .packs_hover .txt .info .play a,.rel_pl .packs_hover .txt .info .play a
	{
	border: 0;
	float: left;
	height: 25px;
	padding: 0 16px;
	line-height: 25px;
	margin-right: 6px
}

.relative2 {
	margin-bottom: 35px
}

.rel_pl h4 {
	border-bottom: 0;
	margin-bottom: 0
}

.rel_pl .scrollbar_prev,.rel_pl .scrollbar_next {
	top: 88px
}

.pack_lt .pack {
	width: 160px;
	margin-right: 16px;
	background: #f6f7fb;
	padding-bottom: 8px
}

.pack_lt .pack .caption {
	height: 36px;
	padding: 0 10px;
	font-size: 12px;
	line-height: 18px
}

.pack_lt .pack a {
	color: #606060
}

.pack_lt .pack a:hover {
	color: #f60;
	text-decoration: none
}

.pack_lt .pack .pic,.pack_lt .pack img {
	width: 160px;
	height: 90px
}

.pack_lt .pack .pic {
	position: relative
}

.pack_lt .pack .di {
	z-index: 1
}

.pack_lt .pack:hover {
	background: #e4e6eb
}

.pack_lt .pack_last {
	margin-right: 0;
	height: 133px
}

.pack_lt .pack_last a {
	height: 40px;
	padding: 55px 0 0;
	font-size: 14px;
	color: #858e93
}

.pack_lt .pack_hover {
	background: #e4e6eb
}

.hot_search {
	overflow: hidden;
	margin-bottom: 35px
}

.hot_search h4.ti {
	position: relative
}

.hot_search h4.ti .more {
	position: absolute;
	top: 6px;
	right: 0;
	font-size: 12px
}

.hot_search h4.ti .more:hover {
	text-decoration: none
}

.hot_search h4.ti .iconfont {
	vertical-align: top
}

.hot_search .tags {
	background-color: #f6f7fb;
	padding: 15px 5px 0 15px;
	border-top: 1px solid #e1e1e5
}

.hot_search .tags a {
	display: inline-block; *
	display: inline; *
	zoom: 1;
	padding: 2px 8px;
	color: #858e93;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 0 8px 8px 0;
	border-radius: 2px
}

.hot_search .tags a:hover {
	border-color: #aaa;
	text-decoration: none
}

.wonder {
	display: none;
	margin: 16px 0
}

.wonder .hd .kw {
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 10px;
	color: #f60
}

.wonder .bd {
	overflow: hidden;
	margin-top: 5px; *
	position: relative;
	width: 100%
}

.wonder .bd ul {
	width: 1200px
}

.wonder .pack {
	float: left;
	_display: inline;
	width: 144px;
	margin-right: 21px
}

.wonder .pack .pic {
	width: 144px;
	height: 81px
}

.wonder .pack .pic img {
	width: 144px;
	height: auto
}

.wonder .pack .txt h6 a {
	color: #858e93
}

.ugc_dialog .tui_dialog_holder {
	width: 515px;
	height: 340px;
	background: #F6F7FB
}

.ugc_dialog .bar_pic {
	height: 225px;
	width: 500px;
	margin: 5px auto 0;
	background: url(../../img/play/needlogin-1_fe79794.jpg) no-repeat
}

.ugc_dialog .bar_pic.pic_2 {
	background-image: url(../../img/play/needlogin-2_af99cb1.jpg)
}

.ugc_dialog .bar_pic.pic_3 {
	background-image: url(../../img/play/needlogin-3_6998167.jpg)
}

.ugc_dialog .bar_pic.pic_4 {
	background-image: url(../../img/play/needlogin-4_aae628c.jpg)
}

.ugc_dialog .oauth_wrap {
	background: #FFF;
	box-shadow: 0 -4px 4px rgba(204, 204, 204, .6);
	height: 100px;
	width: 500px;
	margin: 0 auto
}

.ugc_dialog .oauth_wrap .hd {
	font-size: 18px;
	color: #404040;
	padding: 12px 15px
}

.ugc_dialog .oauth_wrap .oauth_list {
	overflow: hidden;
	padding-left: 40px
}

.ugc_dialog .oauth_wrap .oauth_list a {
	background: url(../../img/play/needlogin-oauth_629288b.png) no-repeat 0
		0;
	padding-left: 48px;
	float: left;
	font-size: 18px;
	color: #999;
	margin-right: 20px;
	height: 36px;
	line-height: 36px
}

.ugc_dialog .oauth_wrap .oauth_list a:hover {
	text-decoration: none;
	color: #F60
}

.ugc_dialog .oauth_wrap .oauth_list a.weibo {
	background-position: 0 -44px
}

.ugc_dialog .oauth_wrap .oauth_list a.tweibo {
	background-position: 0 -88px
}

.ugc_dialog .oauth_wrap .oauth_list a.td {
	background-position: 0 -132px
}